
<%if @current_user.role_id == 2 %>
  <h1 class="mb-3 text-center">List Of All Consultants</h1>
<%else %>
  <h1 class="mb-3 text-center">List Of All Businesses</h1>
<%end%>

<div class="border border-primary mx-3 text-center" style="border-radius:30px">
<br>
<h3 class="mx-3"> 
<!-- 
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 22 22">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
-->
Filter Results 
</h3>
<%= search_form_for(@q, url: "/marketplace", method: :get) do |f| %>
  <div class="form-outline mx-3 mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
    <%= f.label :full_name_cont, "Search" %>
    <%= f.text_field :full_name_cont, :placeholder => "Search by name" %>
  </div>
  <!-- Email input
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>
   -->

  <div class="form-outline mx-3 mb-3">
  <% Expertise.all.each do |expertise| %>
    <label>
      <%= check_box_tag('q[user_interests_expertise_id_eq_any][]', expertise.id, (true if @q.user_interests_expertise_id_eq_any.try(:include?, expertise.id))) %>
      <%= expertise.name %>
    </label>
  <% end %>
</div>
  <div class="mx-3">
  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/marketplace" class="btn btn-outline-primary">Clear filters</a>
  </div>
<% end %>
<br>
</div>

<br>

<div>
  <div>
    <table class="table table-hover table-striped" style="border-radius: 30px">
    <thead>
      <tr class="table-info">
        <th>
          Name
        </th>

        <%if @current_user.role_id == 1%>
  <th>Company Name</th>
<%end%>

      <%if @current_user.role_id == 2 %>
  <th>Areas of Expertise</th>
<%else %>
  <th>Areas of Interest</th>
<%end%>

        <th>
          Description
        </th>

        <th>
          Details
        </th>

        <th>
        Favorite
        </th>

        <th>
        Contact
        </th>
      </tr>
      </thead>
      <tbody>
      <% @list_of_users.each do |a_user| %>
      <tr data-link="/marketplace/<%= a_user.id %>">
        <td style="font-weight:bold"><p> <%= a_user.full_name %></p></td>

<%if @current_user.role_id == 1 %>
  <td><%= a_user.company_name %> </td>
<%end%>

        <td>
        <% a_user.user_interests.each do |interest| %>
          <p class="btn btn-primary"> <%=interest.expertise.name%> </p>
        <%end%>
        </td>

        <td>
          <%= a_user.description %>
        </td>
        <td>
          <a class="btn btn-success" href="/marketplace/<%= a_user.id %>">
            Show details
          </a>
        </td>

        <td>
    <% current_user_favorites = Favorite.where({:other_user_id => a_user.id, :user_id => session[:user_id]}) %>

    <%the_favorite = current_user_favorites[0]%>

    <%if the_favorite == nil %>
    <form action="/insert_favorite" method="post">
    <input type="hidden" name="query_other_user_id" value="<%=a_user.id%>">
    <button class="btn btn-warning">Favorite!</button>
    </form>
    <%else%>
      <form action="/delete_favorite/<%=the_favorite.user.id %>" method="post">
    <input type="hidden" name="query_other_user_id" value="<%=the_favorite.user.id%>">
    <button class="btn btn-outline-warning" style="color: #D79334;">Un-favorite</button>
    </form>
    <%end%>
        </td>

        <td>
    <% current_user_contacteds = Contacted.where({:other_user_id => a_user.id, :user_id => session[:user_id]}) %>

    <%the_contacted = current_user_contacteds[0]%>

    <%if the_contacted == nil %>
    
    <form action="/click_contacted" method="post">
    <input type="hidden" name="query_other_user_id" value="<%=a_user.id%>">

    <button id="contact-btn" class="btn btn-info">Contact!</button>

    </form>


    <%else%>
      <div class="btn btn-outline-info" style="color:black;">Contacted</div>
    <%end%>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
//$(document).on("click", "#table-id tr", function() {
//  var link  = $(this).data("href")
//  $.ajax({
//    url: link,
//    type: "GET"
//  });
//});

//$("tr[data-link]").on("click", function() {
//    window.location = $(this).parent().data("www.google.com");
//  });


$("tr[data-link]").click(function () {
  //var link = $(this).data("www.google.com")
    $.ajax({
        url: "www.google.com", //link, //$(this).getAttribute('data-link'),
        dataType: "script",
        type: "GET"
    });
    event.preventDefault();
});
</script>
