
<%if @current_user.role_id == 2 %>
  <h1>List of all consultants</h1>
<%else %>
  <h1>List of all businesses</h1>
<%end%>

<div>
  <div>
    <table class="table table-hover table-striped" style="border-radius: 30px">
    <thead>
      <tr class="table-info">
        <th>
          Name
        </th>

        <%if @current_user.role_id == 2 %>
  <th>Role</th>
<%else %>
  <th>Company Name</th>
<%end%>

        <th>
          Description
        </th>

        <th>
          Details
        </th>

        <th>
        Favorite
        </th>

        <th>
        Contact
        </th>
      </tr>
      </thead>
      <tbody>
      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.full_name %>
        </td>

<%if @current_user.role_id == 2 %>
  <td><%= a_user.role.title %></td>
<%else %>
  <td><%= a_user.company_name %> </td>
<%end%>

        <td>
          <%= a_user.description %>
        </td>
        <td>
          <a class="btn btn-outline-success" href="/marketplace/<%= a_user.id %>">
            Show details
          </a>
        </td>

        <td>
    <% current_user_favorites = Favorite.where({:other_user_id => a_user.id, :user_id => session[:user_id]}) %>

    <%the_favorite = current_user_favorites[0]%>

    <%if the_favorite == nil %>
    <form action="/insert_favorite" method="post">
    <input type="hidden" name="query_other_user_id" value="<%=a_user.id%>">
    <button class="btn btn-warning">Favorite!</button>
    </form>
    <%else%>
      <form action="/delete_favorite/<%=the_favorite.user.id %>" method="post">
    <input type="hidden" name="query_other_user_id" value="<%=the_favorite.user.id%>">
    <button class="btn btn-outline-warning" style="color: #D79334;">Un-favorite</button>
    </form>
    <%end%>
        </td>

        <td>
    <% current_user_contacteds = Contacted.where({:other_user_id => a_user.id, :user_id => session[:user_id]}) %>

    <%the_contacted = current_user_contacteds[0]%>

    <%if the_contacted == nil %>
    
    <form action="/click_contacted" method="post">
    <input type="hidden" name="query_other_user_id" value="<%=a_user.id%>">

    <button id="contact-btn" class="btn btn-info">Contact!</button>

    </form>


    <%else%>
      <div class="btn btn-outline-info" style="color:black;">Contacted</div>
    <%end%>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
