

<div>
  <div>
    <h1>
      <h1><%= @the_user.full_name%></h1>
    </h1>

<br>
<!-- 
    <div>
      <div>
        <a href="/marketplace">
          Go back
        </a>
      </div>
    </div>
-->
<div class="mb-3 row g-3 align-items-center">
<div class="col-auto">
    <%if @current_user != nil%>
    <% current_user_favorites = Favorite.where({:other_user_id => @the_user.id, :user_id => session[:user_id]}) %>

    <%the_favorite = current_user_favorites[0]%>

    <%if the_favorite == nil %>
    <form action="/insert_favorite" method="post">
    <input type="hidden" name="query_other_user_id" value="<%=@the_user.id%>">
    <button class="btn btn-warning">Favorite!</button>
    </form>
    <%else%>
      <form action="/delete_favorite/<%=@the_user.id %>" method="post">
    <input type="hidden" name="query_other_user_id" value="<%=@the_user.id%>">
    <button class="btn btn-outline-warning" style="color: #D79334;">Un-favorite</button>
    </form>
    <%end%>
    <%end%>
</div>

<div class="col-auto">
        <% current_user_contacteds = Contacted.where({:other_user_id => @the_user.id, :user_id => session[:user_id]}) %>

    <%the_contacted = current_user_contacteds[0]%>

    <%if the_contacted == nil %>
    <form action="/click_contacted" method="post">
    <input type="hidden" name="query_other_user_id" value="<%=@the_user.id%>">
    <button class="btn btn-info">Contact!</button>
    </form>
    <%else%>
      <div class="btn btn-outline-info" style="color: black;">Contacted</div>
    <%end%>
</div>
</div>

<div>
    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @the_user.description %>
      </dd>
    </dl>

    <dl>
      <dt>
        Time Availability
      </dt>
      <dd>
        <%= @the_user.time.description %>
      </dd>
    </dl>

    <dl>
      <dt>
        Areas of Expertise
      </dt>
      <dd>
        <% @the_user.user_interests.each do |interest| %>
          <li class="btn btn-primary"> <%=interest.expertise.name%> </li>
        <%end%>
      </dd>
    </dl>
  </div>
</div>
</div>

<br>
<hr>
