


<div>
  <div>
    <h1>
      <h1><%= @the_user.full_name%></h1>
    </h1>

    <div>
      <div>
        <a href="/marketplace">
          Go back
        </a>
      </div>
    </div>

    <%if @current_user != nil%>
    <% current_user_favorites = Favorite.where({:other_user_id => @the_user.id, :user_id => session[:user_id]}) %>

    <%the_favorite = current_user_favorites[0]%>

    <%if the_favorite == nil %>
    <form action="/insert_favorite" method="post">
    <input type="hidden" name="query_other_user_id" value="<%=@the_user.id%>">
    <button class="btn btn-warning">Favorite!</button>
    </form>
    <%else%>
      <a href="/delete_favorite/<%=the_favorite.id%>" class="btn" style="background-color:#ffd557">Un-favorite</a>
    <%end%>
    <%end%>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @the_user.description %>
      </dd>
    </dl>

    <dl>
      <dt>
        Time Availability
      </dt>
      <dd>
        <%= @the_user.time.description %>
      </dd>
    </dl>

    <dl>
      <dt>
        Areas of Expertise
      </dt>
      <dd>
        <% @the_user.user_interests.each do |interest| %>
          <li> <%=interest.expertise.name%> </li>
        <%end%>
      </dd>
    </dl>
  </div>
</div>

<hr>
